.bedrooms-container {
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 20px;

  cursor: pointer;

  .headers {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;

    .sale {
      text-align: left;
      margin-bottom: 20px;
      color: black;
      float: left;
    }

    button {
      float: right;
    }
  }

  .bedrooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }

    .bedroomsitems {
      //width: 200px;
      margin: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 15px;
      overflow: hidden;

      &:hover {
        box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.2);
      }

      .img {
        width: 100%;
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .bedroomsfooter {
        padding: 10px;
        font-size: 14px;
        color: rgb(45, 44, 44);

        Link {
          color: none;
        }

        .bedroomsname {
          font-weight: bold;
          margin-bottom: 5px;
        }
        .category {
          font-weight: bolder;
          margin-bottom: 5px;
        }

        .bedroomslocation {
          display: inline-block;

          margin-bottom: 5px;
          .icon {
            display: inline-block;
            height: 15px;
            vertical-align: middle;
          }
        }

        .bedroomsprice {
          color: green;
        }
        .viewdeal {
          color: rgb(128, 68, 0);
          font-size: 20px;
          font-weight: 400;
          border-radius: 2px solid rgb(80, 82, 80);

          &:hover {
            box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination span {
    padding: 10px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .pagination .active {
    background-color: #4caf50;
    color: #fff;
  }
}
